@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 100px;
}