@charset "UTF-8";

body {
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0px;
}

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: linear-gradient(180deg, #3CD983, #2A9558, #1A5C38);
    color: white;
    text-align: center;
}

header > p {
    font-size: 14px;
}

header > nav {
    text-align: left;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

nav > a:hover {
    color: yellow;
}

main {
    background-color: white;
    padding: 20px;
    margin: 0px 150px 0px 150px;
}

article > .h2primario {
    font-family: 'Idroid';
    color: #236340;
}

article > .h2secundario {
    font-family: 'Idroid';
    background-color: #CCEFDA;
    color: #236340;
}

article > picture {
    
}

footer {
    background-color: #1A5C38;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 4px;
}
footer > p {
    margin: 0px;
}